$heading-color: #e91e63

.App
  h1
    color: $heading-color
    font-size: 6rem
    text-align: center

.container
  display: flex
  justify-content: center
  align-items: center
  height: 50vh
  gap: 3rem
  background-color: #f2f2f2